<div class='form-container'>
    <div>
        <h2 class='new-post text-center'>New Post</h2>

        <%= render "partials/form"%>
        <div class='d-flex justify-content-center'>
            <%=link_to :back do%>
            <%=button_tag 'Back', class:'btn link-text'%>
        </div>
        <%end%>
    </div>
</div>