<div>
<%=image_tag 'http://i.imgur.com/Lbifw1P.png', :style => "width: 100%"%>
</div>
<div class='text-center'>
    <h3>Cities</h3>
</div>
<div class='city-container'>
<% @cities.each do |city| %>
    <div class='city'>
        <%=link_to city.name.split.map(&:capitalize).join(' '), city_path(city)%>
    </div>
<%end%>
</div>
