/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self 
 *= require_tree .
 */
 
 body {
     background: #262525;
 }

 .brand-font {
    font-family: 'Indie Flower', cursive;
 }
 
 .front-page-font {
    font-family: 'Indie Flower', cursive;
    font-size: 50px;
    text-shadow: 2px 2px 7px black;
 }

 .default-font {
    font-family: 'Cabin', sans-serif;
 }
 
 .navbar-brand {
     font-size: 30px;
     margin-top: -5px;
     margin-bottom:-5px;
    
 }

 .form-container {
     margin-top: 10%;
     display: flex;
     justify-content: center;
    
     
 }

.hover-nav:hover{
    text-decoration: line-through;
    text-decoration-color:#3D3C3C;
    
    
}

.form-font {
    color: white;
    font-family: 'Cabin', sans-serif;
}

.entire-post {
    border-top: 3px solid #990303;
    
}
// Small devices (landscape phones, less than 768px)
@media (max-width: 780px) { 
    .front-page-font {
        font-family: 'Indie Flower', cursive;
        font-size: 10px;
        text-shadow: 2px 2px 7px black;
     }

     .navbar {
         width: 100%;
     }

     .link-text {
        text-decoration: underline overline;
        text-decoration-color: #990303;
        font-family: 'Cabin', sans-serif;
        font-size: 20px;
        color: white;
        background: rgba(0,0,0,0);
        display: block;
    }
    
    .link-text:hover {
        font-family: 'Cabin', sans-serif;
        font-size: 25px;
        color: white;
        background:#990303;
        display: block;
    }
 }

 @import "font-awesome-sprockets";
 @import "font-awesome";
 

